@page
@model WaterProject.Pages.DonationCompleteModel
@{
}

<div class="text-center">
    <h2>Thanks! Your order will mkae a difference</h2>
    <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Return Home</a>
</div>