<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Book Store</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/lib/font-awesome/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <div class="bg-dark text-white p-2">
        <div class="container-fluid">
            <div class="row">
                <div class="col navbar-brand">SPORTS STORE</div>
                <div class="col-6 text-right">
                    <vc:cart-summary />
                </div>
            </div>
        </div>
    </div>
    <div class="bg-dark text-white p-2 h-25" style="overflow: auto;">
        <span class="navbar-brand ml-2">Book Store</span>
    </div>



    <div class="row m-1 p-1">
        <div id="category" class="col-3">
            <div class="text-center">
                <img style="height:200px;" class="img-thumbnail mx-auto" src="~/img/BookStore.jpg" />
            </div>
            <vc:category></vc:category>
        </div>
        <div class="col-9">
            @RenderBody()
        </div>
    </div>


    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js"></script>
</body>
</html>
